body {
    background-color: powderblue;
}
ul {
    list-style-type:none;
    display:inline-block;
}
li {
    border:5px solid #000;
    margin-bottom: 5px;
}
table {
    width: 20%;
    border-spacing: 0px;
}